.food__input-container {
    margin-bottom: 20px;
}

.meal-form__title {
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.meal-form__margin_top {
    margin-top: 20px;
}

.meal-form__ingredients_title {
    width: 100%;
    color: white;
    font-size: 25px;
    flex: 1 1;
    font-weight: bold;
}