@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.App {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius:0; 
  border-radius:0;
}

body {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

body, #root, #root > div, #root .App, #root .App > div, .screen {
  display: flex;
  flex-direction: column;
  flex: 1;
}


