@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

.App {
  font-family: "Rubik", sans-serif;
  color: rgb(250, 250, 250);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
